<div class="navbarPartials">

  {{> icons}}

  <main class="navbar-main">

    <div id="nav-head" class="mt-5 mb-5">
      <a href="/">
        <span class="fs-4"><a href="/"><img src="/logo.svg" width="250px" alt=""></a></span>
      </a>
    </div>
    
    <div id="nav-body" class="my-5">
        <ul class="my-5 nav nav-pills flex-column justify-content-center">
        <li class="nav-item">
          <a href="/dashboard" class="nav-link active" aria-current="page">
            <svg class="m-2" width="25" height="25"><use xlink:href="#home"/></svg>
            Inicio
          </a>
        </li>
        <li>
          <a href="/veiculos" class="nav-link text-dark">
            <svg class="bi pe-none m-2" width="25" height="25"><use xlink:href="#car"/></svg>  
            Veículos
          </a>
        </li>
        <li>
          <a href="/alocacoes" class="nav-link text-dark">
            <svg class="bi pe-none m-2" width="25" height="25"><use xlink:href="#road"/></svg>
            Alocações
          </a>
        </li>
        <li>
          <a href="/clientes" class="nav-link text-dark">
            <svg class="bi pe-none m-2" width="25" height="25"><use xlink:href="#clients"/></svg>
            Clientes
          </a>
        </li>
        <li>
          <a href="/configuracoes" class="nav-link text-dark">
            <svg class="bi pe-none m-2" width="25" height="25"><use xlink:href="#settings"/></svg>
            Configurações
          </a>
        </li>
      </ul>
    </div>
      
      <div id="nav-footer" class="mt-5"> 
        <a href="/" class="nav-link text-dark">
            <svg class="bi pe-none me-2" width="25" height="25"><use xlink:href="#exit"/></svg>
            Sair
        </a>
      </div>
      
      </main>

</div>

