
<div class="navbarPartials">

  {{> icons}}

  <main class="navbar-main">

    <div id="nav-head" class="mt-5 mb-5">
      <a href="/">
        <span class="fs-4"><a href="/"><img src="/logo.svg" width="250px" alt=""></a></span>
      </a>
    </div>
    
    <div id="nav-body" class="my-5">
        <ul id="nav-bar" class="my-5 nav nav-pills flex-column justify-content-center">

          <li id="home" class="nav-item">
            <a id="home" href="/dashboard" class="nav-link text-dark" aria-current="page">
              <svg class="m-2" width="25" height="25"><use xlink:href="#home"/></svg>
              Inicio
            </a>
          </li>
          <li id="veiculos">
            <a href="/vehicles" class="nav-link text-dark">
              <svg class="bi pe-none m-2" width="25" height="25"><use xlink:href="#car"/></svg>  
              Veículos
            </a>
          </li>
          <li id="alocaoces">
            <a href="/alocacoes" class="nav-link text-dark">
              <svg class="bi pe-none m-2" width="25" height="25"><use xlink:href="#road"/></svg>
              Alocações
            </a>
          </li>
          <li id="clientes">
            <a href="/clients" class="nav-link text-dark">
              <svg class="bi pe-none m-2" width="25" height="25"><use xlink:href="#clients"/></svg>
              Clientes
            </a>
          </li>
          <li id="configuracoes">
            <a href="/users" class="nav-link text-dark">
              <svg class="bi pe-none m-2" width="25" height="25"><use xlink:href="#settings"/></svg>
              Configurações
            </a>
          </li>
      </ul>
    </div>
      
      <div id="nav-footer" class="mt-5"> 
        <form action="/logout" method="post">

          <button type="submit" class="btn" >
            <a class="nav-link text-dark">
              <svg class="bi pe-none me-2" width="25" height="25"><use xlink:href="#exit"/></svg>
              Sair
          </a>
          </button>

        </form>
      </div>
      
      </main>

</div>




