{{> icons}}
<div class="veiculos_dashboardPartials"> 

    <tr>
        <td>Veiculo 01</td>
        <td>Info 02</td>
        <td>Info 03</td>
        <td>Info 04</td>
        
    </tr>

    <tr>
        <td>Veiculo 02</td>
        <td>Info 02</td>
        <td>Info 03</td>
        <td>Info 04</td>
    </tr>

</div>