{{> navbar}}
{{> icons}}

<div class="page">
    <div class="container">
        <div class="mt-1">
          <h1>Início</h2>
          <hr>
        </di >
        
        <div class="card">
            <div id="card" class="card-header">
                <svg class="m-1" width="20" height="20"><use xlink:href="#car"/></svg>
                Veículos
            </div>
            <div class="card-body">     
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="navbar">
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            </tr>
                            <tr id="navbar">
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            </tr>
                        </tbody>

                    </table>
                
                <a href="/veiculos" class="link-info">Ver mais veículos</a>
              </div>
        </div>

        <div class="row">
          <div class="col-sm-6 mt-3 mb-3 mb-sm-0">
            <div class="card">
              <div id="card" class="card-header">
                  <svg class="m-1" width="20" height="20"><use xlink:href="#road"/></svg>
                  Alocações para hoje
              </div>
              <div class="card-body">
                <h1 id="card-info" class="card-title text-center">02</h1>
                <a href="/alocacoes" class="link-info">Consultar alocações</a>
              </div>
            </div>
        </div>

        <div class="col-sm-6 mt-3">
          <div class="card">
            <div id="card" class="card-header">
                  <svg class="m-1" width="20" height="20"><use xlink:href="#client"/></svg>
                  Clientes Cadatrados
              </div>
            <div class="card-body">
              <h1 id="card-info" class="card-title text-center">50</h1>
              <a href="/clientes" class="link-info">Consultar Clientes</a>
            </div>
          </div>
        </div>
      </div>


      </div>
</div>
