<div id="leftHalf">
    <a href="/"><img id="logo"  src="logo.svg" width="20%" alt=""></a>
    <img width="70%" src="404.svg" alt="">
</div>

<div class="container" id="rightHalf">
    <h1>404</h1>
    <h1>Página não encontrada</h1>
    <p>Parece que a página que você busca não está mais disponível, clique no botão abaixo para voltar para página inicial</p>
    <div class="py-5 px-3">
        <a href="/" class="btn btn-info btn-block" type="button"><b>Voltar a página Inicial</b></a>
    </div>
    
</div>