<div id="leftHalf">
    <div>
        <a href="/"><img id="logo"  src="logo.svg" width="20%" alt=""></a>
    </div>
    
    <img width="50%" src="login.svg" alt="">

</div>

<div class="container" id="rightHalf">

    <h1>Entrar</h1>
    <form action="">
        <div class="mb-3 px-5">
            <label for="login" class="form-label">Email</label>
            <input type="email" class="form-control" id="login">
        </div>
        
        <div class="mb-3 px-5">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha">
        </div>
    </form>
    
    
</div>
