
<div id="leftHalf">
    <div>
        <a href="/"><img id="logo"  src="logo.svg" width="20%" alt=""></a>
    </div>
    
    <img width="60%" src="login.svg" alt="">

</div>

<div class="container" id="rightHalf">
  
    <div>
        <h1 id="entrar" class="fw-bold"><b>Entrar</b></h1>
    </div>

    <form action="/loginpost" method="post">
        
        <div class="px-5 py-5">
            <label for="login" class="mb-3 form-label">Email</label>
            <input name="email"  class="form-control" id="email" placeholder="Seu e-mail" required>
            <label for="senha" class="my-3 form-label">Senha</label>
            <input name="senha" type="password" class="form-control" id="senha" placeholder="Senha" required>
        </div>

        <div class="px-5">
            <button class="btn btn-info btn-block" type="submit"><b>Entrar</b></button>
        </div>
        
        
    </form> 

</div>


