:root 
{
  --background: #AFD3E2;
  --texto-icones: #152536;
  --links: #19A7CE;
  --vermelho: #FF6884;
  --fundo-tabela: #E0F0F6;  
}



*
{
  margin: 0;
  padding: 0;
}

#leftHalf 
{
    background: var(--background);
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;  
}

#rightHalf 
{
    width: 50%;
    font-weight:bold;
    position: absolute;
    right: 0px;
    height: 100%;
}

#logo
{
  position: fixed;
  top: 0;
  left: 0;
} 